


    body {
      align-content: space-between;
      margin: 0;
      padding: 0;
    }
    
    header {
      background-color: #252020;
      color: #fdfdfd;
      padding: 20px;
      text-align: center;
      font-family: WOB;
      font-size: 30px;
    }
    
    nav {
      background-color: #555;
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: 18px;
    }
    
    nav ul {
      display: inline-block;
      margin: inline-block;
      margin: 0 25px;
      padding: relative
    }
    
    nav li {
      display: inline-block;
    }
    
    nav a {
      display: block;
      padding: 10px 20px;
      color: #fff;
      text-decoration: none;
    }
    
    nav a:hover {
      background-color: #393939;
    }
    
    section {
      padding: 20px;
    }
    
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
      align-content: end;
    }

    @font-face {
      font-family: WOB;
      src: url(WOB.ttf);
    }

    body {
      background-image: url("webpage-wallpaper.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      align-content: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      position: relative;
      animation-name: example;
      animation-duration: 5s;
    }

    @keyframes example{
      0%   {left:0px; top:0px;}
      25%  {left:200px; top:0px;}
      50%  {left:200px; top:200px;}
      75%  {left:0px; top:200px;}
      100% {left:0px; top:0px;}
    }

    h2 {
      color:#ffffff;
      font-size: xx-large;
      text-align: center;
      font-family: WOB;
      outline-style: double;
    }

    h3 {
      text-align: center;
      font-family: Glitch;
      font-size: 65px;
      color:rgb(255, 93, 35)
    }

    @font-face {
      font-family: Glitch;
      src: url(Glitch.otf);
    }

  


